.env
# ========================
# Python
# ========================
__pycache__/
*.pyc
env/
venv/
*.sqlite3
.env                # API key ve gizli bilgiler

# ========================
# Node / JavaScript
# ========================
node_modules/
.next/               # Next.js build klasörü
dist/                # Üretim build klasörü varsa
out/                 # Next.js export klasörü

# ========================
# Docker / Logs
# ========================
*.log
docker-compose.override.yml

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/

# ========================
# Firebase / Service Worker
# ========================
public/firebase-messaging-sw.js
.firebase-messaging-sw.js   # root'ta varsa

backend/.env
backend/.env.local
frontend/.env
frontend/.env.local

frontend/public/firebase-messaging-sw.js